body {
  font-weight: 200;
  background-color: #269489;
}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #269489 !important;
  border: inherit;
}